extends ../layout

block content
  h1 List of Featured Leaders
  -each profile, i in profiles
    .leader-container.clearfix
      .leader-content.clearfix
        img.leader-image(src=profile.photos[0])
        .leader-text.span8
          h2.date=profile.year
          h3= profile.name
          p
          p=profile.headline
          a.profile(href='/profile/#{i}') Know more
          p