#profileModal.profile.hide.fade.modal("aria-hidden" = "true", "aria-labelledby" = "myModalLabel", 'role' = "dialog", 'tabindex' = "-1")
  .modal-body
    .row-fluid
      button.close("aria-hidden" = "true", "data-dismiss" = "modal", 'type' = "button") ×
      .left-column.span5
        img(src='/photos/#{profile.action}', class='profile-img')
        .profile-social
          p
        blockquote
          p "#{profile.quote}"

      .right-column.span8

        h2= profile.name

        .profile-headline
          profile.headline

        //- .profile-dates
        //-   //- format date of birth/death
        //-   if profile.dod
        //-     p #{profile.dob} - #{profile.dod}
        //-   else
        //-     p Born - #{profile.dob}

        p.profile-bio= profile.bio

        h3 Resources
        ul.profile-resources
          //-for resource in profile.resources
            //-li
              //-a(href="#{resource}", title="#{profile.name} Resource", target="_blank")= resource