extends layout

block content
  .row
    .span18
      center
       img.take-lead(src='/images/lead-large.png', alt="Take The Lead!")
      br

      .take-lead-text
       center
         h2 Inspired by the success stories of the women featured on the timeline? <br />
    
       p
         h3| Then get ready to participate and engage in “TAKE THE LEAD!” - an awesome list of questions and activities designed to help YOU become a great leader. On your own or with a group of friends, reflect on the admirable women you read about in our Timeline and take away a valuable leadership lesson from each of them. You can complete the list in one sitting or come back to them anytime you would like. What matters is that you stay determined to be the best leader you can be. <br /><br />
       center
          h2| Be brave. Speak up. TAKE THE LEAD.<br /><br />

  each x, i in profiles
    if i%3 === 0
      .leader-container.row
        each profile, j in profiles.slice(i, i+3)
          .leader-content.centered-container.span3
            img.span4.center.thumbnail(src=profile.photos[0], alt="Image of #{profile.name}")
            .leader-text
              h2.date=profile.year
              h3= profile.name
              p
              p= profile.take_the_lead
              p
